<nav>
    <ul>
        <li><a href="{{ '/index.html' | relative_url }}">Home</a></li>
        
        <li class="has-submenu">
            <a href="{{ '/1-project.html' | relative_url }}">Project Overview</a>
            <ul class="submenu">
                <li><a href="{{ '/1-project.html' | relative_url }}#proj-intro">Introduction</a></li>
                <li><a href="{{ '/1-project.html' | relative_url }}#proj-structure">Game Structure</a></li>
                <li><a href="{{ '/1-project.html' | relative_url }}#proj-outline">Project Setup</a></li>
                <li><a href="{{ '/1-project.html' | relative_url }}#proj-credits">Credits</a></li>
            </ul>
        </li>

        <li class="has-submenu">
            <a href="{{ '/2-game-Setup.html' | relative_url }}">Game Setup</a>
            <ul class="submenu">
                <li><a href="{{ '/2-game-Setup.html' | relative_url }}#gs-intro">Introduction</a></li>
                <li><a href="{{ '/2-game-Setup.html' | relative_url }}#gs-install">Player Game Installation</a></li>
                <li><a href="{{ '/2-game-Setup.html' | relative_url }}#gs-display">PC Display Setup and Drivers</a></li>
                <li><a href="{{ '/2-game-Setup.html' | relative_url }}#gs-installer">Installer Script</a></li>
                <li><a href="{{ '/2-game-Setup.html' | relative_url }}#gs-launcher">Launcher Batch Script</a></li>
                <li><a href="{{ '/2-game-Setup.html' | relative_url }}#gs-files">Local PC File Structure</a></li>
                <li><a href="{{ '/2-game-Setup.html' | relative_url }}#gs-files">DEV Setup</a></li>
            </ul>
        </li>

        <li class="has-submenu">
            <a href="{{ '/3-playthrough.html' | relative_url }}">Game and Storyline Development</a>
            <ul class="submenu">
                <li class="has-submenu">
                    <a href="{{ '/3-playthrough-background.html' | relative_url }}">Background Storyline</a>
                </li>
                <li class="has-submenu">
                    <a href="{{ '/3-playthrough-part1.html' | relative_url }}">Part 1</a>
                    <ul class="submenu">
                        <li><a href="{{ '/3-playthrough-p1-otemachi1.html' | relative_url }}">Otemachi Labs 1</a></li>
                        <li><a href="{{ '/3-playthrough-p1-otemachi2.html' | relative_url }}">Otemachi Labs 2</a></li>
                        <li><a href="{{ '/3-playthrough-p1-tmg.html' | relative_url }}">TMG Complex</a></li>
                        <li><a href="{{ '/3-playthrough-p1-otemachiku.html' | relative_url }}">Otemachi-Ku</a></li>
                        <li><a href="{{ '/3-playthrough-p1-hibiyau.html' | relative_url }}">Hibiya Plaza - Upper</a></li>
                        <li><a href="{{ '/3-playthrough-p1-aquabus.html' | relative_url }}">AquaBus Terminal</a></li>
                        <li><a href="{{ '/3-playthrough-p1-hibiyal.html' | relative_url }}">Hibiya Plaza - Lower</a></li>
                        <li><a href="{{ '/3-playthrough-p1-passage.html' | relative_url }}">Passageways</a></li>
                        <li><a href="{{ '/3-playthrough-p1-towers.html' | relative_url }}">Hibiya Park Towers</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="{{ '/3-playthrough-part2.html' | relative_url }}">Part 2</a>
                    <ul class="submenu">
                        <li><a href="{{ '/3-playthrough-p2-shinjuku-sta.html' | relative_url }}">Shinjuku Station</a></li>
                        <li><a href="{{ '/3-playthrough-p2-shinjuku-w.html' | relative_url }}">West Shinjuku</a></li>
                        <li><a href="{{ '/3-playthrough-p2-kabukicho.html' | relative_url }}">Kabuki-Cho</a></li>
                        <li><a href="{{ '/3-playthrough-p2-shinjuku-e.html' | relative_url }}">East Shinjuku</a></li>
                        <li><a href="{{ '/3-playthrough-p2-yokotani.html' | relative_url }}">Yokotani Bank</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="{{ '/3-playthrough-part3.html' | relative_url }}">Part 3</a>
                    <ul class="submenu">
                        <li><a href="{{ '/3-playthrough-p3-disco.html' | relative_url }}">Galaxy Disco</a></li>
                        <li><a href="{{ '/3-playthrough-p3-aquagrill.html' | relative_url }}">AquaGrill</a></li>
                        <li><a href="{{ '/3-playthrough-p3-kuro1.html' | relative_url }}">Kurokuma Base 1</a></li>
                        <li><a href="{{ '/3-playthrough-p3-kuro2.html' | relative_url }}">Kurokuma Base 2</a></li>
                        <li><a href="{{ '/3-playthrough-p3-hideouts.html' | relative_url }}">Kurokuma Hideouts</a></li>
                        <li><a href="{{ '/3-playthrough-p3-lostcity.html' | relative_url }}">Lost City</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="{{ '/3-playthrough-part4.html' | relative_url }}">Part 4</a>
                    <ul class="submenu">
                        <li><a href="{{ '/3-playthrough-p4-retotemachi.html' | relative_url }}">Return To Otemachi-ku</a></li>
                        <li><a href="{{ '/3-playthrough-p4-tmgmil1.html' | relative_url }}">TMG Complex Military 1</a></li>
                        <li><a href="{{ '/3-playthrough-p4-tmgmil2.html' | relative_url }}">TMG Complex Military 2</a></li>
                        <li><a href="{{ '/3-playthrough-p4-tmgmil3.html' | relative_url }}">TMG Complex Military 3</a></li>
                        <li><a href="{{ '/3-playthrough-p4-tokyo-sta.html' | relative_url }}">Tokyo Station</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="has-submenu">
            <a href="{{ '/4-charecters.html' | relative_url }}">NPC Characters</a>
            <ul class="submenu">
                <li><a href="{{ '/4-npc-index.html' | relative_url }}">NPC Index of Characters</a></li>
                <li><a href="{{ '/4-npc-details.html' | relative_url }}">NPC Character Details</a></li>
            </ul>
        </li>

        <li class="has-submenu">
            <a href="{{ '/5-Quests.html' | relative_url }}">Quests</a>
            <ul class="submenu">
                <li><a href="{{ '/5-quests-primary.html' | relative_url }}">Primary Objectives</a></li>
                <li><a href="{{ '/5-quests-secondary.html' | relative_url }}">Secondary Objectives</a></li>
                <li><a href="{{ '/5-quests-lines.html' | relative_url }}">Questlines</a></li>
                <li><a href="{{ '/5-quests-side.html' | relative_url }}">SideQuests</a></li>
                <li><a href="{{ '/5-quests-trans.html' | relative_url }}">Transmissions</a></li>
                <li><a href="{{ '/5-quests-eggs.html' | relative_url }}">EasterEggs</a></li>
            </ul>
        </li>

        <li class="has-submenu">
            <a href="{{ '/6-sdk.html' | relative_url }}">SDK</a>
            <ul class="submenu">
                <li><a href="{{ '/6-sdk-DeusEx.html' | relative_url }}">Official: DeusEx SDK</a></li>
                <li><a href="{{ '/6-sdk-Editor.html' | relative_url }}">Official: Editor Doc</a></li>
                <li><a href="{{ '/6-sdk-ConEdit.html' | relative_url }}">Official: ConEdit Doc</a></li>
                <li><a href="{{ '/6-sdk-workflow.html' | relative_url }}">Workflow Process</a></li>
                <li><a href="{{ '/6-sdk-env-setup.html' | relative_url }}">Dev Environment Setup</a></li>
                <li><a href="{{ '/6-sdk-ucmake.html' | relative_url }}">UCMake Batch Scripts</a></li>
                <li><a href="{{ '/6-sdk-tools.html' | relative_url }}">Tools and 3rd party software</a></li>
            </ul>
        </li>

        <li class="has-submenu">
            <a href="{{ '/7-custom-text.html' | relative_url }}">Custom Text</a>
            <ul class="submenu">
                <li><a href="{{ '/7-ct-datacubes.html' | relative_url }}">Datacubes</a></li>
                <li><a href="{{ '/7-ct-computers.html' | relative_url }}">Computers and Emails</a></li>
                <li><a href="{{ '/7-ct-books.html' | relative_url }}">Books and Newspapers</a></li>
            </ul>
        </li>

        <li class="has-submenu">
            <a href="{{ '/8-conv-and-voices.html' | relative_url }}">Conversations and Voices</a>
            <ul class="submenu">
                <li><a href="{{ '/8-cv-conedit.html' | relative_url }}">Conedit</a></li>
                <li><a href="{{ '/8-cv-conv-setup.html' | relative_url }}">Conversation Setup</a></li>
                <li><a href="{{ '/8-cv-conv-workflow.html' | relative_url }}">Conversation creation workflow</a></li>
                <li><a href="{{ '/8-cv-voice-setup.html' | relative_url }}">Voice setup</a></li>
                <li><a href="{{ '/8-cv-voice-workflow.html' | relative_url }}">Voice creation and workflow</a></li>
            </ul>
        </li>

        <li class="has-submenu">
            <a href="{{ '/9-custom-assets.html' | relative_url }}">Custom Assets</a>\Ignore rest due to space limitations...PPER.

