<nav>
    <ul>
        <li><a href="{{ '/index.html' | relative_url }}">Home</a></li>
        
        <li class="has-submenu">
            <a href="{{ '/1-project.html' | relative_url }}">Project Overview</a>
            <ul class="submenu">
                <li><a href="{{ '/1-project.html' | relative_url }}#proj-intro">Introduction</a></li>
                <li><a href="{{ '/1-project.html' | relative_url }}#proj-structure">Game Structure</a></li>
                <li><a href="{{ '/1-project.html' | relative_url }}#proj-outline">Project Setup</a></li>
                <li><a href="{{ '/1-project.html' | relative_url }}#proj-credits">Credits</a></li>
            </ul>
        </li>

        <li class="has-submenu"> 
            <a href="{{ '/2-game-Setup.html' | relative_url }}">Game Setup</a>
            <ul class="submenu"> 
                <li><a href="{{ '/2-game-Setup.html' | relative_url }}#gs-intro">Introduction</a></li>
                <li><a href="{{ '/2-game-Setup.html' | relative_url }}#gs-install">Player Game Installation</a></li>
                <li><a href="{{ '/2-game-Setup.html' | relative_url }}#gs-display">PC Display Setup and Drivers</a></li>
                <li><a href="{{ '/2-game-Setup.html' | relative_url }}#gs-installer">Installer Script</a></li>
                <li><a href="{{ '/2-game-Setup.html' | relative_url }}#gs-launcher">Launcher Batch Script</a></li>
                <li><a href="{{ '/2-game-Setup.html' | relative_url }}#gs-files">Local PC File Structure</a></li>
                <li><a href="{{ '/2-game-Setup.html' | relative_url }}#gs-files">DEV Setup</a></li>
            </ul>
        </li>

        <!-- ... (KEEP all the rest of your original long nav blocks unchanged here) ... -->

        <!-- Technical -->
        <li class="has-submenu"> 
            <a href="{{ '/10-technical.html' | relative_url }}">Technical</a>
            <ul class="submenu"> 
                <li><a href="{{ '/10-tech-SteveTack-tutorials.html' | relative_url }}">Steve Tack's Tutorials</a></li>
                <li><a href="{{ '/10-tech-Kurishita-tutorials.html' | relative_url }}">Kurishita's Tutorials</a></li>
                <li><a href="{{ '/10-tech-notes.html' | relative_url }}">Dev Game Notes</a></li>
                <li><a href="{{ '/10-tech-automation.html' | relative_url }}">Scripting Automation</a></li>
                <li><a href="{{ '/10-tech-feedback.html' | relative_url }}">Feedback, bugs, fixes</a></li>
            </ul>
        </li>

        <!-- Custom Tools -->
        <li class="has-submenu"> 
            <a href="{{ '/10b-tools.html' | relative_url }}">Custom Tools</a>
            <ul class="submenu"> 
                <li><a href="{{ '/10b-tools-music-convert.html' | relative_url }}">Music Convert</a></li>
            </ul>
        </li>

        <!-- Public Facing -->
        <li class="has-submenu"> <!-- Added class -->
            <a href="{{ '/12-public-facing.html' | relative_url }}">Public Facing</a>
            <ul class="submenu"> <!-- Added submenu -->
                <li><a href="{{ '/12-public-facing.html' | relative_url }}#pf-discord">Discord</a></li>
                <li><a href="{{ '/12-public-facing.html' | relative_url }}#pf-website">Official Redsun2020 Public Website</a></li>
                <li><a href="{{ '/12-public-facing.html' | relative_url }}#pf-games">Published Game sites</a></li>
                <li><a href="{{ '/12-public-facing.html' | relative_url }}#pf-demos">Demo Videos</a></li>
            </ul>
        </li>
    </ul>
</nav>

