<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redsun2020:Revise DEV - {{ page.title | default: "Welcome" }}</title> 
    <link rel="stylesheet" href="/assets/css/styles.css"> 
</head>
<body>
    <header>
        <h1>Redsun2020:Revise DEV</h1>
    </header>

    {% include navigation.html %}

    <main>
        {{ content }}
    </main>
    
    <footer>
        
    </footer>
    
    <script src="/assets/js/script.js"></script> 
</body>
</html>
